/* Credits: Code Institute - Header credit: Code institute and the Project: Love Running - I have made several changes in the .html code and the .css during this development compared to the original, but it follows a similar structure. */

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#menu {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

#menu li {
    display: inline;
    margin-right: 20px;
}

#menu li:hover {
    color: #b26a6a;
}

.custom-list {
    list-style-type: none;
}

.hidden-heading {
    display: none;
}

.active {
    border-bottom: 1px solid rosybrown;
}

body {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    color: rosybrown;
    font-family: 'Archivo Narrow', sans-serif;
}

h1 {
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: rosybrown;
}

h2 {
    font-family: 'Archivo Narrow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

h3 {
    font-family: 'Merriweather', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: white;
}

header {
    background-color: white;
    color: rosybrown;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
}

main {
    flex: 1 0 auto;
    margin-top: 47px;
    display: flex;
    flex-direction: column;
}

nav {
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px rosybrown;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    cursor: pointer;
}

#hero {
    height: 600px;
    width: 100%;
    background: url("../../assets/images/barista1.webp") no-repeat center center/cover;
    position: relative;
}

#hero2 {
    height: 600px;
    width: 100%;
    background: url("../../assets/images/barista3.webp") no-repeat center center/cover;
    position: relative;
}

#hero-box {
    background-color: rgba(188, 143, 143, .7);
    position: absolute;
    font-size: 130%;
    bottom: 25px;
    min-height: 150px;
    padding-top: 40px;
    padding-left: 10px;
    border-radius: 25px 50px 25px 50px;
}

#hero-box>h2,
#hero-box>h3 {
    color: rosybrown;
    color: white;
    text-align: center;
}

#footer {
    background-color: rosybrown;
    min-height: 1px;
    width: 100%;
    margin: 20px auto;
    padding-left: 1%;
}

#footer h2 {
    color: #2d9d96;
    margin-bottom: 20px;
    text-align: center;
    font-size: 280%
}

#logo {
    font-size: 110%;
    line-height: 50px;
    margin: 0 0.5rem;
}

#socialmedia {
    text-align: justify;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#socialmedia i {
    font-size: 160%;
    padding: 5%;
    color: rosybrown;
}

#newsletter {
    height: 600px;
    width: 100%;
    background: url("../../assets/images/barista4.webp") no-repeat center center/cover;
    background-position-x: center;
    background-position-y: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-size: cover;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#newsletter-form {
    color: #ffffff;
    background-color: rgba(188, 143, 143, 0.95);
    padding: 30px;
    border-radius: 25px 50px 25px 50px;
}

#newsletter-form>h2 {
    color: white;
    margin-bottom: 20px;
}

#contact {
    height: 600px;
    width: 100%;
    background: url("../../assets/images/barista5.webp") no-repeat center center/cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-size: cover;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#contact-form {
    color: #ffffff;
    background-color: rgba(188, 143, 143, 0.98);
    padding: 30px;
    border-radius: 25px 50px 25px 50px;
}

#contact-form>h2 {
    color: white;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: white;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid white;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    border: 1px solid white;
    padding: 15px 32px;
    font-size: 100%;
    background-color: rosybrown;
    color: white;
    box-shadow: 0px 3px 5px rgba(245, 245, 245, 0.5);
    transition: background-color 0.3s ease;
}

.join-button:hover {
    background-color: #b26a6a;
}

.textbox-overlay {
    color: #ffffff;
    background-color: rgba(188, 143, 143, 0.95);
    padding: 30px;
    border-radius: 25px 50px 25px 50px;
    margin: 10px;
}

.textbox2-overlay {
    color: #ffffff;
    background-color: rgba(188, 143, 143, 0.95);
    padding: 30px;
    border-radius: 25px 50px 25px 50px;
    margin: 10px;
}

.copyright {
    text-align: center;
    color: rosybrown;
}

.center {
    text-align: center;
}

@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 110%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    .textbox {
        background: url("../../assets/images/barista7.webp") no-repeat center center/cover;
        box-shadow: 0px 2px 5px rgba(245, 245, 245, 0.5);
    }

    .textbox2 {
        background: url("../../assets/images/barista6.webp") no-repeat center center/cover;
        box-shadow: 0px 2px 5px rgba(245, 245, 245, 0.5);
    }
}

@media (max-width: 767px) {
    .join-button {
        float: none;
        margin: 0 auto;
    }

    h2,
    h3 {
        font-size: 80%;
    }
}